@model ganymede_web.Models.Benevole

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Benevole</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomEtablissement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomEtablissement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rolePreferee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rolePreferee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LibreFinDeSemaine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LibreFinDeSemaine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LibreJourFeries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LibreJourFeries)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecuFormationPremierSoins)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecuFormationPremierSoins)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
