@model IEnumerable<ganymede_web.Models.Benevole>

@{
    ViewData["Title"] = "Bénévoles";
}
<div class="main-container">
@if ( Context.Session.GetString("nom") == "Admin") {
<h1>Bénévoles</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomEtablissement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rolePreferee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibreFinDeSemaine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LibreJourFeries)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecuFormationPremierSoins)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomEtablissement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rolePreferee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LibreFinDeSemaine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LibreJourFeries)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecuFormationPremierSoins)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
} else {
<p>Connecter-vous pour voir cette page</p>
}
</div>