@model ganymede_web.Models.Itineraire

@{
    ViewData["Title"] = "Details";
}
<div class="main-container">
<h1>Itineraire</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horaire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horaire.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndLocation)
        </dd>
    </dl>
</div>
<iframe
  width="1000"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyAt-d1ZtDhE0s0robvrvjbsNj_rtdwd_lU&origin=@Model.StartLocation&destination=@Model.EndLocation&mode=walking&units=metric&language=fr">
</iframe></div>
