@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using System.Linq
@using System.Data

@model IEnumerable<ganymede_web.Models.Itineraire>

@{
    ViewData["Title"] = "Index";
}
<div class="main-container">
@if ( Context.Session.GetInt32("id") != null) {
<h1>Itinéraires</h1>

<p>
    <a asp-action="Create">Créer un itinéraire</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Horaire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndLocation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        @if(Context.Session.GetString("nom")=="Admin"){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Horaire.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndLocation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
        } else {
            @if ( Context.Session.GetInt32("id") == item.Horaire.BenevoleID){
                <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Horaire.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndLocation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>


            }
        }
}
    </tbody>
</table>
} else {
<p>Connecter-vous pour voir cette page</p>
}
</div>
<script>
    console.log(item.Horaire)

</script>