@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@model IEnumerable<ganymede_web.Models.Horaire>

@{
ViewData["Title"] = "Index";
}

<div class="">
<h1>Quart de travail </h1>
@if ( Context.Session.GetString("nom") == "Admin") {
<p>
    <a asp-action="Create">Créer un quart de travail</a>
</p>
}

@if ( Context.Session.GetInt32("id") != null) {
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    @if (Context.Session.GetString("nom") == "Admin" ) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Modifier</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
    } else {
        @if (Context.Session.GetInt32("id") == item.BenevoleID) {
	
	    var start = item.StartTime.ToString("yyyyMMdd’T’HHmmss’Z’");
	    var end = item.EndTime.ToString("yyyyMMdd’T’HHmmss’Z’");
	
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
	      <a href="https://calendar.google.com/calendar/u/0/r/eventedit?text=Shift+de+@item.Role&dates=@start/@end&location=Cote+des+neiges+Montreal"> Ajouter à votre calendrier</a>
            </td>
        </tr> 
    }
    }
}
    </tbody>
</table>

} else {
<p>Connectez vous pour voir cetter page.</p>
}
</div>
